/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
:root{
    --navbar-height : 40px;
}

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px
}
#logo{
    margin: 8px 5px;
}

#logo img{
    height: 50px;
    margin: 13px 6px;
    
}


#navbar ul {
    display: flex;
}

#navbar::before{
    content: "";
    background-color: black;
    position:absolute;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.2;
    top:0px;
    left:0px;

}

#navbar ul li{
    list-style:none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display:block;
    padding: 3px 40px;
    border-radius: 10px;
    border-color: blanchedalmond;
    list-style:none;
    font-size: 1.3rem;
    text-decoration: none;

}


#navbar ul li a:hover{
    color:black;
    background-color: white;
}

/* HOME SECTION */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 20px;
    justify-content:center;
    align-items: center;
    height: 398px;

}

#home::before{
    content: "";
    position: absolute;
    background: url('./1.jpg') no-repeat center center/cover;
    height:82%;
    width:100%;
    z-index:-1;
    opacity:0.9;
    top:0px;
    left:0px;
}
#home h1{
    color: white;
    text-align: center;
    
}
#home p{
    color: whitesmoke;
    text-align: center;
    font-size: 1.5rem;
    font-family:serif
}

/*section services*/
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding : 5px;
    margin: 2px 5px;
    border-radius: 28px;
    background :cornsilk
    
}
#services .box img{
    height:160px; 
    margin:auto;
    display:block;
}

#servicres .box p{
     
    font-family: serif;
}


/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('./6.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}

/*utility classes*/
.h-primary{
    font-size: 3.0rem;
    padding: 12px;
    font-family: serif;
    
}
.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
    font-family: serif;
}
.btn{
    padding: 6px 20px;
    border: 2px whitesmoke;
    background-color: rgb(121, 156, 156);
    color:thistle;
    margin: 17px;
    font-size:1.5 rem;
    border-radius:10px;
    cursor:pointer;
    
}
.center{
    text-align: center;
}


